tp3_scp_aco/__pycache__
.vscode
E2/fl1400.tsp
E2/eil51.tsp.dat
E2/eil101.tsp
E2/cinco.py
E2/GUI/cinco.py
E2/gr21.dat
E2/__pycache__/Arista.cpython-36.pyc
E2/__pycache__/Arista.cpython-37.pyc
E2/__pycache__/Grafo.cpython-37.pyc
E2/__pycache__/Arista.cpython-36.pyc
E2/__pycache__/Arista.cpython-37.pyc
E2/__pycache__/Grafo.cpython-36.pyc
E2/__pycache__/Grafo.cpython-36.pyc
E2/__pycache__/Table.cpython-37.pyc
E2/__pycache__/Grafo.cpython-37.pyc
E2/__pycache__/Vertice.cpython-36.pyc
E2/__pycache__/Grafo.cpython-37.pyc
E2/__pycache__/Grafo.cpython-36.pyc
E2/__pycache__/Arista.cpython-37.pyc
E2/__pycache__/Arista.cpython-36.pyc
E2/__pycache__/Grafo.cpython-36.pyc
E2/__pycache__/Grafo.cpython-37.pyc
E2/__pycache__/Grafo.cpython-36.pyc
E2/__pycache__/Vertice.cpython-37.pyc
E2/__pycache__/Arista.cpython-36.pyc
E2/__pycache__